.git
.github
terraform/
helm/
monitoring/
screenshots/
k8s/
data/
tests/
*.md
*.bak
*.yaml
!app/requirements.txt
.dockerignore
.gitignore
.trivyignore
sonar-project.properties
docker-compose.yml
loadtests.js
__pycache__
*.pyc
*.pyo
.pytest_cache
.mypy_cache
.venv
